.contenedor-principal{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:10% 80% 10% ;
}
.contenedor-principal div{
    border: 1px solid black;
}

#titulo{
    grid-column: 1/3;
    grid-row: 1/2;
}

#imagen{
    grid-column: 1/2;
    grid-row: 2/3;
}

.basurero-secundario{
    grid-column: 2/3;
    grid-row: 2/3;
}
.footer{
    grid-column: 1/3;
    grid-row: 3/4;
}

.basurero-secundario{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 45%;
}

#video{
    grid-column: 1/3;
    grid-row: 1/2;
}

#poema{
    grid-column: 1/2;
    grid-row: 2/3;
}

#lista{
    grid-column: 2/3;
    grid-row: 2/3;
}






